*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-overflow-style: none;
    margin: 0;
}

.media-content {
    overflow-x: unset;
}

html, body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
    background: rgb(73,89,133);
    background: linear-gradient(90deg, rgba(73,89,133,1) 0%, rgba(28,33,48,1) 100%);
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.column {
    padding: 0;
}